.td-main:hover {
    background-color: rgb(237, 235, 235);

}

.td-main {
    cursor: pointer;
    min-height: 4rem;
    border-radius: 8px;
    padding-left: 0.6rem;
    max-width: 10rem;
    overflow: hidden;
    
}

.td-main button {

}
td {
   margin: 1rem;
}