.active {
  background-color: #9e9e9e;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84b0cf;
  margin-top: 0%;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
  height: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

nav .title {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

nav #navButton {
  border: none;
  border-radius: 8px;
  height: 2.1rem;
  width: auto;
  margin-right: 1rem;
  background-color: #d6e1ea;
  color: #3a3a3a;
  box-shadow: none;
  cursor: pointer;
}

nav #navButton:hover {
  content: "X";
  filter: brightness(50%);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  width: auto;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  /* filter: brightness(50%); */
  background-color: #504f4f45;
}

nav .menu {
  display: none;
  position: absolute;
  top: 1.2rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.2rem;
}
nav .menu span {
  height: 0.22rem;
  width: 70%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 580px) {
  nav .menu {
    display: flex;
  }
  nav .menu:hover {
    cursor: pointer;
  }
  nav .menu:active {
    transform: scale(0.85);
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open {
    display: flex;
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
